<hr>
<!-- <%= @message%> -->
<!-- welcome message with script font -->
<div class="welcome-div">

  <img src="/assets/fruit.png" alt="">
  <img src="/assets/food-7.png" alt="">
  <img src="/assets/food.png" alt="">
  <img src="/assets/food-8.png" alt="">

  <h5>Love to cook?</h5>
  <h3>Looking for new recipes?</h3>
    <hr>
  <h2>Welcome to MyRecipeBook!</h2>
    <hr>
  <h4>Sign Up.</h4>
    <hr>
  <h5>Search.</h5>
    <hr>
  <h6>Save!</h6>
  <h5>view your recipes any time</h5>

  <!-- <img src="/assets/food-20.png" alt="">
  <img src="/assets/fruit-7.png" alt="">
  <img src="/assets/fruit-2.png" alt="">
  <img src="/assets/food-11.png" alt="">
  <img src="/assets/food-3.png" alt="">
  <img src="/assets/food-4.png" alt="">
  <img src="/assets/food-1.png" alt="">
  <img src="/assets/food-5.png" alt="">
  <img src="/assets/food-6.png" alt="">
  <img src="/assets/food-9.png" alt="">
  <img src="/assets/food-10.png" alt="">
  <img src="/assets/food-15.png" alt=""> -->

</div>
