

<div class="container">
  <div class="row">
    <div class="col s12">
      <center><h1>Bake & Co.</h1></center>
    </div>
  </div>
  <div class="row size1">
    <div class="col s5 offset-s4">

      <div class="icon">
        <img id="icons" src="" alt="">
      </div>

    </div>
  </div>
<hr>

  <div class="row size">
    <div class="col s4">
      <center><img src="/assets/fruit.png" alt=""></center>
      <center><h4>Got random ingredients in your fridge?</h4></center>
    </div>
    <div class="col s4">
      <center><img src="/assets/food-7.png" alt=""></center>
      <center><h4>Looking for a recipe?</h4></center>
    </div>
    <div class="col s4">
      <center><img src="/assets/food.png" alt=""></center>
      <center><h4>Search your ingredients and save the recipes!</h4></center>
    </div>
  </div>
  <hr>



  <div class="row size">
    <div class="col s12">
      <center><h4 class="homesearch">Pick Your Ingredient(s): </h4>
      <%= form_tag("/recipes/yummly-api-call", method: "post") do |f| %>
        <%= label_tag(:ingredient_of_the_day, "Search for an ingredient:") %>
        <%= text_field_tag(:ingredient_of_the_day) %> <br>
      <%= submit_tag("Submit")%>
      <% end %>
    </center>
    </div>
  </div>
</div> <!-- end of container -->
