<div class="container">
  <div class="row">
    <div class="col s12">
      <center><h1>Bake & Co.</h1></center>
    </div>
  </div>
  <div class="row size1">
    <div class="col s12 icon ">
<center>      <img id="icons" src="" alt=""> </center>
    </div>
  </div>
<hr>

  <div class="row size">
    <div class="col s4">
      <center><img src="/assets/berry.png" alt=""></center>
      <center><h3>Got random ingredients in your fridge?</h3></center>
    </div>
    <div class="col s4">
      <center><img src="/assets/food-21.png" alt=""></center>
      <center><h3>Well I can help!</h3></center>
    </div>
    <div class="col s4">
      <center><img src="/assets/food-31.png" alt=""></center>
      <center><h3>Search here for recipes and save them in your book!</h3></center>
    </div>
  </div>
  <hr>

  <div class="row size">
    <div class="col s12">
      <center><h3>Pick Your Ingredient: </h3>
      <%= form_tag("/recipes/yummly-api-call", method: "post") do |f| %>
        <%= label_tag(:ingredient_of_the_day, "Search for an ingredient:") %>
        <%= text_field_tag(:ingredient_of_the_day) %> <br>
      <%= submit_tag("Submit")%>
      <% end %>
    </center>
    </div>

  </div>
</div> <!-- end of container -->
