// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    // font-family: "Lato", sans-serif;
    transition: background-color .5s;
    // color: #818181;
    // background-color: #fff2be;
    // background-image: image("assets/BG.jpg");
    // background-size: cover;
    color: #818181;
    // background-color: #fff2be;
    background-size: contain;
    width: 100%;

}
.cover{

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #99f0ca;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
  }

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    // background-color: #fff2be;
    // BACKGROUND COLOR**
    height: 100%;
    z-index: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {
  height: 100px;
  width: 100px;
}

.bookcon {
  height: 45px;
  width: 45px;
}

.welcome-div, .user-info-div {
// color: red;
text-align: center;
// background-color: #ffe869;
width: 70%;
margin: 0 auto;
border-radius: 15%;
// height: 100vh;
}

.card {

  margin: 0 auto;
  width: 300px;
  z-index: auto;

}

.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}

img.activator {
  height: 200px;
  width: 300px;
}
h1{
  font-family: 'Mr De Haviland', cursive;
  font-size: 200px;
}

// navbar
h4 {
  font-family: 'Neuton', serif;
}

// profile
h5 {
  font-family: 'Playfair Display SC', serif;
}
.icon {
  width: 200px;
  height: 200px;
  border: solid red 3px;
  border-radius: 50%;
  padding: 50px;
}

#headerlogo {
  font-size: 50px;
  float: right;
  margin-bottom: -10px;
}

// header
h3 {

  font-family: 'Mr De Haviland', cursive;
  font-size: 70px;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px
}
.size{
  padding-top: 150px;
  padding-bottom: 150px;
}
.size1 {
  // padding: 50px;
}

.updateprofile {
  text-align: center;
}
.searchdiv {
  text-align: center;
}

.homesearch {
  font-size: 100px;
}
