// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    // font-family: "Lato", sans-serif;
    transition: background-color .5s;
    color: #818181;
    background-color: #fff2be;
    background-size: contain;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #99f0ca;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #fff2be;
    // BACKGROUND COLOR**
    height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#logo {
  float: right;
}

img {
  height: 100px;
  width: 100px;
}

.welcome-div, .user-info-div {
color: red;
text-align: center;
background-color: #ffe869;
width: 70%;
margin: 0 auto;
border-radius: 15%;
// height: 100vh;
}



.card {
  margin: 0 auto;
  width: 300px;
  
}

.container {
  // height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

img.activator {
  height: 200px;
  width: 300px;
}

// search
h2 {
  font-family: 'Vast Shadow', cursive;
  font-size: 40px;
}

// navbar
h4 {
  font-family: 'Neuton', serif;
}

// profile
h5 {
  font-family: 'Playfair Display SC', serif;
}

// header
h3 {
  font-family: 'Mr De Haviland', cursive;
  font-size: 50px;
}



h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px
}
